
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>About Me</h2>
            <p>
                Welcome to my blog! I'm Krishna Dulal, and I'm passionate about Software and new books. This blog
                is my platform to share my thoughts, ideas, and experiences with you. I hope you find my posts
                informative and enjoyable.
            </p>
            <p>
                Feel free to explore the articles on various topics, and don't hesitate to get in touch if you have
                any questions or would like to collaborate.
            </p>
            <h3>Contact Information</h3>
            <p>
                Email: <a href="krishnadulal199@gmail.com">krishnadulal199@gmail.com</a><br>
                Website: <a href="https://krishna-dulal.github.io">Personal Website link</a><br>
                LinkedIn: <a href="www.linkedin.com/in/krishna-dulal-013229252">Krishna Dulal</a><br>
                
            </p>
        </div>
    </div>
</div>
{% endblock content %}
